h2 {
    font-size: 6rem;
    color: pink;
}

.circle {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.circle::before {
    content: attr(data-letter);
    position: absolute;
    color: pink;
    font-family: sans-serif;
    left: 100%;
    transform: rotate(15deg);
    opacity: 0;
    text-shadow: 3px 3px 1px #000fff;
}

.circle:nth-child(1) {
    animation: turn 500ms linear 1 forwards;
}

.circle:nth-child(2) {
    animation: turn 500ms linear 500ms 1 forwards;
}

.circle:nth-child(3) {
    animation: turn 500ms linear 1s 1 forwards;
}

.circle:nth-child(4) {
    animation: turn 500ms linear 1.5s 1 forwards;
}
    @keyframes turn {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(-180deg);
        }
    }

.circle:nth-child(1)::before {
    animation: jump 500ms linear 1 forwards;
    }
.circle:nth-child(2)::before {
    animation: jump 500ms linear 500ms 1 forwards;
}
.circle:nth-child(3)::before {
    animation: jump 500ms linear 1s 1 forwards;
}
.circle:nth-child(4)::before {
    animation: jump 500ms linear 1.5s 1 forwards;
}

    @keyframes jump {
        0% {
            opacity: 0;
            transform: rotate(15deg);
        }
        100% {
            opacity: 1;
            transform: rotate(180deg);
        }
    }
