@keyframes spin {
    to {
        transform: rotatez(360deg);
    }    
}

.spinner {
    font-size: 150px;
    text-align: center;
    animation: 2s spin linear infinite;
    display: none;
}
.dog-img {
    display: none;
}
.show {
    display: block;
}
