* {
    box-sizing: border-box;
}
.gallery-img {
    display: none;
    max-height: 600px;
}
.active {
    display: block;
}
.image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

