body {
    background: saddlebrown;
}
h1 {
    position: relative;
    text-align: center;
    color: blueviolet;
    font-size: 50px;
    
}

h2{
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    color: orange;
}
h3 {
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color:hotpink;
}
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
button {
    margin: 20px;
}