h1 {
    text-align: center;
    color: blueviolet;
    font-size: 50px;
}
body {
    background-color: plum;
    margin: 1rem;
}
h2 {
    color: blueviolet;
    font-size: 30px;  
}
img {
    border-radius: 25px;
}
[data-columns] {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 0 1rem 0;
  }
[data-columns="4"] {
grid-template-columns: repeat(4, 1fr);
}
.container {
    position: relative; 
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5700ba;
    border-radius: 25px;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    color: hotpink;
    font-size: 30px;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}