h1 {
    text-align: center;
    color: blueviolet;
    font-size: 50px;
}
body {
    background-color: plum;
}
h2 {
    color: blueviolet;
    font-size: 30px;
    display: flex;
    
}
img {
    margin: 10px;
    float: left;
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}