h1 {
    text-align: center;
    color: blueviolet;
    font-size: 50px;
}
body {
    background-color: plum;
}
h2 {
    color: blueviolet;
    font-size: 30px;  
}
.container {
    position: relative;
    width: 50%;  
}
img {
    padding-bottom: 10px;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 25px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5700ba;
    border-radius: 25px;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    color: hotpink;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}